#root {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;

}

.body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f9fafb; 
  padding: 5rem 0rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  animation: fadeIn 0.8s ease-in-out;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.header img {
  max-height: 5rem;
}

.header {
  position: absolute;
  width: 90%;
  max-width: 80vw;
  top: 1rem;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #306496;
  font-size: 2.5rem;
  font-weight: 500;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5rem;
}

.header nav ul li {
  cursor: pointer;
}

.footer {
  position: absolute;
  width: 100vw;
  height: 8vh;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  color: #306496;
  background-color: #f48bbe;
  display: flex;

}

.footer button {
  background-color: transparent;
  border: none;
  color: #ffff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}

.content-wrap {
  flex: 1;
}


